# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=https://pabomqopgvaekbrblcnk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# App Origin URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Service Role Key (Optional)
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
